
# LangChain
langchain==1.2.14
langchain-community>=0.3.22
langchain-google-genai>=2.1.4
langchain-chroma>=0.2.2
langchain-text-splitters>=0.3.8

# PDF and Vector
pypdf>=5.4.0
chromadb>=0.6.3
sentence-transformers>=3.0.0
langchain-huggingface>=0.0.3
fpdf>=1.7.2

# API Server
fastapi>=0.115.12
uvicorn[standard]>=0.34.0
python-multipart>=0.0.20
python-dotenv>=1.0.0

pinecone-client
langchain-pinecone
